{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type='images/jpg' href="{% static 'images/default.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Health Log</title>
</head>
<body>
    <header>
        <h1>Mental Well-Being Health Log</h1>
        {% block loggedMenu %} {% include 'loggedMenu.html' %} {% endblock loggedMenu %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <h1>{{user.firstName}} create a base log for today</h1>
        <form action="/log/create/" method='post'>
            {% csrf_token %}
            <section>
                <label for="day">Select day</label>
                <select name="day">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </section>
            <section>
                <label for="week">Chose the Week</label>
                <select name="week">
                    {% for week in weeks %}
                        {% if week.writer_id == user.id %}
                            <option value="{{week.id}}">{{week.title}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </section>
            <section>
                <label for="title">Title</label>
                <input type="text" name="title">
            </section>
            <section>
                <label for="content">Content</label>
                <textarea name="content" cols="30" rows="10"></textarea>
            </section>
            <section>
                <input type="hidden" name="author" value="{{user.id}}">
            </section>
            <button>Add Log</button>
        </form>
    </main>
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static "js/scripts.js"%}'></script>
</body>
</html>