<!DOCTYPE html>
<html lang="en">
<body>
    {% block loggedMenu %}
        <a href="/">Home</a>
        <a href="/addMood/">Log Mood</a>
        <a href="/addLog/">New Log</a>
        <a href="/symptoms/">Symptoms</a>
        <a href="https://forms.gle/7YqD8aWXsmccgR5y8" target="_blank">Site Improvements</a>
        <a href="https://forms.gle/RbrL6cC8PjchBS396" target="_blank">Site Bugs</a>
        {% if user.level == 9 %}
            <a href="/theAdmin/">Admin</a>
        {% endif %}
        <button><a href="/logout/">Logout</a></button>
    {% endblock loggedMenu %}
</body>
</html>