<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <nav>
        <a href="javascript:void(0);" class="icon" onclick="menu()">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="myLinks">
                <a href="/">Home</a>
                <a href="/logReg/">Login / Register</a>
                <a href="/about/">About</a>
                <a href="#">Example Account</a>
                <a href="https://forms.gle/7YqD8aWXsmccgR5y8" target="_blank">Site Improvements</a>
                <a href="https://forms.gle/RbrL6cC8PjchBS396" target="_blank">Site Bugs</a>
        </nav>
    </nav>
    {% endblock menu %}
</body>
</html>        