@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/volkhov/v17/SlGQmQieoJcKemNeQTI.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexraltow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Volkhov', serif;
}
p {
  font-size: 1.1em;
  max-width: 50%;
  padding: 0.2em;
  margin: 1em;
}
* {
  text-align: center;
  margin: auto;
}
a {
  text-decoration: none;
  color: #454C49;
}
button,
.button {
  text-decoration: none;
  border: 2px solid #454C49;
  box-shadow: 5px 5px #454C49;
  background-color: #C0DFEB;
  padding: 0.5em;
  margin: 0.5em;
  color: #454C49;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
}
table,
tr,
th,
td {
  border: double 2px #F9E3FA;
}
th {
  font-family: 'Volkhov', serif;
}
th,
td {
  padding: 0.5em;
  font-size: 1.4em;
}
table {
  margin: 1em 0.5em;
}
@media only screen and (min-width: 650px) {
  body header nav .icon {
    display: none;
  }
  body header nav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body main .desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  body main .desktop .altcontent-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body main .desktop .altcontent-desktop a {
    margin: 1em;
    border: groove 5px #454C49;
    padding: 2em;
    font-size: 1.2em;
  }
  body main .desktop .altcontent-desktop .mobileBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px groove #454C49;
    margin: 1em;
    padding: 0.5em;
  }
  body main .desktop .altcontent-desktop .mobileBox img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0.2em;
  }
  body main .desktop tr td img {
    border-radius: 50%;
    max-width: 100px;
  }
  body main .desktop tr .red {
    color: #D13334;
    font-weight: 900;
  }
  body main .desktop .collapsible-desktop {
    width: 75%;
  }
  body main .desktop .desktopBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  body main .desktop .desktopBox .desktop-table {
    width: 95%;
  }
  body main .mobile {
    display: none;
  }
  body main .column .desktop {
    display: flex;
  }
  body main .column .mobile {
    display: none;
  }
  body main .desktop-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  body main .altcontent .mobileBox .desktop {
    display: flex;
    max-width: 100px;
  }
  body main .altcontent .mobileBox .column {
    padding: 1em;
    margin: 1em;
  }
}
